@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-clr: #1BBC9B;
    --half-black: #1D1D1D;
    /* --para-font-clr: #3B3B3B; */
    --para-font-clr: #6A6A6A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: "open sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h2,
h4 {
    font-family: "open sans";
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
}

h3 {
    font-family: "open sans";
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}

p {
    font-family: "open sans";
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    color: var(--para-font-clr);
}

.btn {
    font-family: "open sans";
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    /* border: 0; */
    background: var(--primary-clr);
    border: 1px solid var(--primary-clr);
    color: white;
}

.btn:hover {
    background: transparent;
    border: 1px solid var(--primary-clr);
    color: var(--primary-clr);
}


.container {
    max-width: 1440px;
    padding: 80px 0;
}

.container.developer-logos {
    padding: 20px 0 80px;
}

.icon_section>div {
    gap: 80px;
}

.spotlight_sec>div:first-child {
    /* background-color: blue; */
    width: 55%;
}

.spotlight_sec h5 {
    color: #C1C1C1;
    font-family: "open sans";
    font-size: 22px;
    line-height: 26px;
    margin: 8px 0 40px;
    font-weight: 300;
}

.spotlight_sec input[type=text] {
    background: transparent;
    font-family: "open sans";
    font-size: 16px;
    line-height: 22px;
    color: #A8A8A8;
}

.spotlight_sec input[type=text]::placeholder {
    color: #A8A8A8;
    font-family: "open sans";
    font-size: 16px;
    line-height: 22px;
}

.spotlight_sec input[type=text]:focus {
    border: 1px solid var(--primary-clr);
}

.highlight-box {
    width: 45%;
    background: var(--half-black);
    color: white;
    padding: 80px 60px;
}

.highlight-box input {
    margin-bottom: 10px;
}

.highlight-badge {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: var(--primary-clr);
    color: white;
    padding: 10px;
}

.box_insd_spt_img {
    background-color: var(--primary-clr);
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 40px;
}

.box_insd_spt_img p {
    font-family: "open sans";
    font-size: 20px;
    line-height: 26px;
    color: white;
}

.box_insd_spt_img p:first-child {
    /* background-color: red; */
    margin-bottom: 24px;
}

.box_insd_spt_img p:last-child {
    padding: 16px 20px;
    border: 2px solid white;
}

.testimonial_sec .swiper-slide p {
    color: #3B3B3B;
}

.testimonial_img {
    width: 100px;
}

.swiper-pagination {
    bottom: 40px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #444444;
}

.cust_name {
    font-size: 13px;
    line-height: 18px;
}

.devs_img {
    width: 100%;
}

.devs_img:not(:last-child) {
    border-right: 1px solid #C5C5C5;
}

.hot_property_section {
    padding: 30px 0;
}

.hot_prop_head {
    position: relative;
}

.hot_prop_head::after {
    content: '';
    background: var(--primary-clr);
    position: absolute;
    bottom: -10px;
    left: 15px;
    width: 30px;
    height: 5px;
}

p.prop_loc {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #343434;
}

p.prp_cta_desc {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    color: #343434;
    margin-top: 16px;
}

.prop_desc {

    color: #6A6A6A;
}

.hot_props_sec_left {
    padding-right: 0;
}

.hot_props_sec_right {
    padding-left: 70px;
    border-left: 1px solid #b1b1b1;
}


.counter-bg {
    background-color: #2D2D2D;
    max-width: 100%;
}

.counter_inner {
    gap: 30px;
}

.count {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Open Sans';
    width: 150px;
    height: 150px;
    border-radius: 60%;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.cntr_para {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 600;
}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media Queries */

/* >>>>>>>>>>>> Tablet Responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 60px 0;
    }

    .container.developer-logos {
        padding: 20px 0 60px;
    }

    .icon_section>div {
        gap: 45px;
    }

    .icon_box {
        width: 60%;
    }

    .spotlight_sec>div:first-child {
        width: 100%;
    }

    .highlight-box {
        width: 100%;
        padding: 55px 30px 60px;
    }

    .swiper-pagination {
        bottom: 25px !important;
    }

    .hot_props_sec_left {
        padding-right: 70px !important;
    }

    .developer-logos>div {
        gap: 60px 0px;
    }

    .devs_img {
        width: 45%;
        border: 0 !important;
    }

    .devs_img img {
        width: 160px;
    }

    .counter {
        width: 45% !important;
    }

    .counter_inner {
        gap: 60px 0;
    }


    .box_insd_spt_img {
        width: 50%;
    }

}


/* >>>>>>>>>>>> Mobile Responsiveness */
@media (max-width: 767px) {
    .container {
        padding: 50px 0;
    }

    .container.developer-logos {
        padding: 30px 0 50px;
    }

    .icon_section>div {
        gap: 35px;
    }

    .spotlight_sec>div:first-child {
        width: 100%;
    }

    .highlight-box {
        width: 100%;
        padding: 45px 20px 50px;
    }

    .swiper-pagination {
        bottom: 15px !important;
    }

    .hot_props_sec_right {
        padding-left: .7rem;
        border-left: 0;
    }

    .developer-logos>div {
        gap: 30px 0px;
    }

    .devs_img {
        border: 0 !important;
    }

    .devs_img img {
        width: 110px;
    }

    .counter_inner {
        gap: 50px;
    }

    .box_insd_spt_img {
        position: relative;
    }
}


/*  >>>>>>>>>>>>>>> Scroll Animation  */
.hidden {
    opacity: 0;
    transition: all .65s ease-in-out;
    pointer-events: none;
    position: relative;
    top: 40px;
}

.show {
    opacity: 1;
    pointer-events: auto;
    transition: all .55s ease-in-out;
    position: relative;
    top: 0;
}

